backend:
  replicaCount: 2  # Scalable backend pods

image:
  repository: jicamposr/eventos-backend
  tag: latest
  pullPolicy: Always
  forceUpdate: null # Optional timestamp to force redeploy

serviceAccount:
  create: true
  name: eventos-service-account

reloader:
  enabled: true


envSecrets:
  fromSecretRefs:
    - eventos-env-secret
  fromKeyRefs:
    - secretName: eventos-dynamic-role
      key: username
      envVar: DB_USERNAME
    - secretName: eventos-dynamic-role
      key: password
      envVar: DB_PASSWORD

resources:
  limits:
    cpu: 2000m    # 2 CPU cores
    memory: 4Gi   # 4GB RAM
  requests:
    cpu: 500m     # Increased requests as well for better QoS
    memory: 1Gi   # Increased memory request

worker:
  enabled: false
  replicaCount: 1

migrateJob:
  enabled: true

ingress:
  enabled: true
  host: eventos.specialized.co.cr
  className: traefik
  path: /
  annotations:
    traefik.ingress.kubernetes.io/rewrite-target: /
    traefik.ingress.kubernetes.io/secure-redirect: "true"
  tls:
    enabled: true
    secretName: eventos-certificate-secret
